<h2> Chapter 6. Strings </h2>

<i>Author: Erdogan Dogdu</i>

String: A sequence of characters

In [7]:
# create a string variable. you can use single or double quotes
str1 = 'Hello'
str2 = "there"

In [8]:
str1

'Hello'

In [9]:
str2

'there'

In [11]:
# concatenate strings using +
str3 = str1 + str2

In [12]:
str3

'Hellothere'

In [14]:
# cannot concatenate string and number (error)
str3 + 1

TypeError: can only concatenate str (not "int") to str

In [16]:
# convert number to string or use quotes around number '1'
str3 + str(1)

'Hellothere1'

In [18]:
fruit = 'banana'

In [19]:
fruit[1]

'a'

In [30]:
# length of a string using len() function (number of characters in string)
size = len(fruit)

In [21]:
size

6

In [27]:
# error: size is one more than the last element's index
fruit[size]

IndexError: string index out of range

In [28]:
# last character of the string (index is size-1)
fruit[size-1]

'a'

In [29]:
# first character of the string
fruit[0]

'b'

In [31]:
# looping through a strings characters
fruit = 'banana'
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [32]:
# looping through a string using for loops (for char in string:)
fruit = 'banana'
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [33]:
# counting during looping / count 'a' characters in a string
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' :
       count = count + 1
print(count)

3

In [34]:
# define a function to count a character in a string
def countchar(char,str):
    cnt = 0
    for x in str:
        if x==char:
            cnt += 1
    return cnt

In [37]:
word

'banana'

In [35]:
# count 'a' characters in word
countchar('a',word)

3

In [38]:
# count 'n' characters in word
countchar('n',word)

2

In [40]:
# slicing strings
s = 'Monty Python'

# 0 to 4 not including 4 (0..3)
print(s[0:4])

Mont

In [41]:
# just character indexed 6
print(s[6:7])

P

In [42]:
# characters in s from 6 to 19
print(s[6:20])

Python

In [43]:
# up to 2 not including 2 (0,1)
print(s[:2])

Mo

In [44]:
# 8 to end (not specified)
print(s[8:])

thon

In [46]:
# start to end (0..end)
print(s[:])

Monty Python

In [51]:
# in and not in operator
fruit = 'banana'
if 'n' in fruit:
    print('Yes, "a" in fruit')
if 'o' not in fruit:
    print('True, "o" not in fruit')

Yes, "a" in fruit
True, "o" not in fruit

In [53]:
first = 'orange'
second = 'banana'
# compare strings (alphabetical ordering)
if first > second:
    # second comes first, exchange
    first, second = second, first
print(first)
print(second)

banana
orange

In [54]:
fruit = 'Hello world!'

In [56]:
fruit.upper()

'HELLO WORLD!'

In [57]:
fruit.lower()

'hello world!'

In [58]:
fruit.title()

'Hello World!'

In [59]:
fruit.capitalize()

'Hello world!'

In [60]:
fruit.center(20)

'    Hello world!    '

In [61]:
fruit.center(20,'.')

'....Hello world!....'

In [62]:
fruit.replace('world','Bob')

'Hello Bob!'

In [63]:
fruit.find('Bob')

-1

In [64]:
fruit.find('world')

6

In [65]:
fruit

'Hello world!'

In [66]:
fruit.startswith('He')

True

In [67]:
fruit.split()

['Hello', 'world!']